$navbar-default-bg: #011;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  text-decoration: none;    
  color: #fff;  
}
.center {
  text-align: center;
}
.jumbotron {
  background-image: asset-url('nature.jpg');
  background-size: cover;
  height: 550px;
}
.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
} 
  
.btn-xlarge{
  font-size: 1.7em;
  background-color: #08088A
  
}
.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
.footer a:hover {
  color: #222;
}
.footer samll {
  float: left;
}
.footer ul {
  float: right;
  list-style: none;
}
.footer ul li {
  float: left;
  margin-left: 15px;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description {
   margin-top: 0;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
.listing {
  list-style: none;
  padding-left: 0;
}
.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.input_checkbox input {
  width: auto !important;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}