body {
    background-color: powderblue;
}
h1 {
    color: green;
	font-family:verdana;
}
h2{
    color: blue;
	font-family:courier;
	text-align:center;
}
p {
    color: blue;
}
pre {
    color: blue;
	font-family:courier;  
	font-size: 15px;
	
}
a{
	text-decoration:none;
}
li{
	font-size:100%;
}